.container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
}

.container div {
    width: 100px;
    height: 70px;
    border: 2px solid #333;
    margin: 5px;
    text-align: center;
    background-color: lightblue;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    border: 2px solid black;
    padding: 10px;
}

.container div {
    width: 100px;
    height: 70px;
    border: 2px solid #333;
    margin: 5px;
    text-align: center;
    background-color: lightblue;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid black;
    padding: 10px;
}

.container div {
    width: 300px;
    height: 70px;
    border: 2px solid #333;
    margin: 5px;
    text-align: center;
    background-color: lightblue;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 2px solid black;
    padding: 10px;
}

.container div {
    width: 100px;
    height: 70px;
    border: 2px solid #333;
    text-align: center;
    background-color: lightblue;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 400px;
    border: 2px solid black;
}

.container div {
    width: 100px;
    height: 70px;
    border: 2px solid #333;
    margin: 5px;
    text-align: center;
    background-color: lightblue;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
    border: 2px solid black;
}

.container div {
    width: 100px;
    height: 70px;
    border: 2px solid #333;
    margin: 5px;
    text-align: center;
    background-color: lightblue;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    height: 400px;
    border: 2px solid black;
}

.container div {
    width: 300px;
    height: 70px;
    border: 2px solid #333;
    margin: 5px;
    text-align: center;
    background-color: lightblue;
}

.container {
    display: flex;
    border: 2px solid black;
}

.container div {
    width: 100px;
    height: 70px;
    border: 2px solid #333;
    margin: 5px;
    text-align: center;
    background-color: lightblue;
}

.container div:nth-child(1) {
    order: 7;
}

.container div:nth-child(2) {
    order: 6;
}

.container div:nth-child(3) {
    order: 5;
}

.container div:nth-child(4) {
    order: 4;
}

.container div:nth-child(5) {
    order: 3;
}

.container div:nth-child(6) {
    order: 2;
}

.container div:nth-child(7) {
    order: 1;
}

.container {
    display: flex;
    border: 2px solid black;
}

.container div {
    height: 70px;
    border: 2px solid #333;
    margin: 5px;
    text-align: center;
    background-color: lightblue;
}

.container div:nth-child(1) {
    flex-grow: 1;
}

.container div:nth-child(2) {
    flex-grow: 2;
}

.container div:nth-child(3) {
    flex-grow: 3;
}

.container div:nth-child(4) {
    flex-grow: 4;
}

.container div:nth-child(5) {
    flex-grow: 5;
}

.container div:nth-child(6) {
    flex-grow: 6;
}

.container div:nth-child(7) {
    flex-grow: 7;
}

.container {
    display: flex;
    height: 400px;
    align-items: flex-start;
    border: 2px solid black;
}

.container div {
    width: 100px;
    height: 70px;
    border: 2px solid #333;
    margin: 5px;
    text-align: center;
    background-color: lightblue;
}

.container div:nth-child(4) {
    align-self: flex-end;
}


.container {
    display: flex;
    height: 400px;
    align-items: flex-start;
    border: 2px solid black;
}

.container div {
    width: 100px;
    height: 70px;
    border: 2px solid #333;
    margin: 5px;
    text-align: center;
    background-color: lightblue;
}

.container div:nth-child(4) {
    align-self: flex-end;
}